*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #111;
    color: white;

    font-family: Arial, Helvetica, sans-serif;

    transition: 0.5s;
}

.container{
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
    font-size: 18px;
}

button{
    padding: 15px 25px;

    border: none;
    border-radius: 10px;

    background-color: orange;
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: 0.5s;
}

button:hover{
    transform: scale(1.05);
}